<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.CategorySkuMapper">
	<select id="selectCategorySku"
		resultType="ltd.newbee.mall.newbeemall.entity.TbNewbeeMallGoodsInfo">
		SELECT
		goods_id,goods_name,goods_category_id,goods_cover_img,selling_price,create_time
		FROM tb_newbee_mall_goods_info
		ORDER BY ${orderBy};
	</select>
</mapper>