<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ltd.newbee.mall.newbeemall.dao.CategoryMapper">
	<select id="selectGoodsDetail"
		resultType="ltd.newbee.mall.newbeemall.entity.TbNewbeeMallGoodsCategory">
				
		SELECT c.category_id,c.category_name,c.parent_id,i.category_image
		FROM tb_newbee_mall_goods_category AS c
			LEFT JOIN category_image AS i
			ON i.category_parent = c.parent_id
		WHERE c.is_deleted = 0;
		
	</select>
</mapper>