<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.ECGoodsDetailMapper">
	<select id="selectGoodsDetail"
		resultType="ltd.newbee.mall.newbeemall.entity.NewSku">
		SELECT *
		FROM config
		JOIN new_sku
		ON new_sku.sku_id = config.sku_id
		WHERE config.config_type=#{configType}
	</select>
</mapper>