<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.ItemListsMapper">
	<select id="getItemListsByCategoryId"
		resultType="ltd.newbee.mall.newbeemall.entity.NewBeeMallGoods">
		SELECT c.category_name,t.* 
		FROM tb_newbee_mall_goods_info as t 
		join ec_goods_category as c
		on t.goods_category_id=c.category_id
		where c.category_id=#{categoryId}
		<if test="ascOrDesc=='asc'">
		order by ${orderBy} asc;	
		</if>
		<if test="ascOrDesc=='desc'">
		order by ${orderBy} desc;	
		</if>
	</select>
</mapper>