<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.RescentSawGoodsMapper">
	<select id="selectGoodsDetail"
		resultType="ltd.newbee.mall.newbeemall.entity.Sku">
		SELECT r.user_id,sku.* 
		FROM rescent_saw_goods as r 
		join sku
		on sku.sku_id=r.sku_id 
		where r.user_id=#{userid};
	</select>
</mapper>