<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.UserHistoryMapper">
	<select id="selectGoodsDetail"
		resultType="ltd.newbee.mall.newbeemall.entity.Sku">
		SELECT *
		FROM rescent_saw_goods AS saw
		JOIN sku
		ON saw.sku_id = sku.sku_id
		AND user_id in (select #{user_id} from tb_newbee_mall_user);

	</select>
</mapper>