<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.UserHistoryMapper">
	<select id="selectGoodsDetail"
		resultType="ltd.newbee.mall.newbeemall.entity.TbNewbeeMallGoodsInfo">
		SELECT
			info.goods_id,info.goods_name,info.goods_cover_img,info.selling_price
		FROM rescent_saw_goods AS saw
			JOIN tb_newbee_mall_goods_info AS info
			ON info.goods_id = saw.goods_id
		AND user_id 
			IN (SELECT #{user_id} FROM tb_newbee_mall_user);

	</select>
</mapper>